// _stream.scss
//

// z-index levels
$l1: 10;
$l2: 20;

.stream {
  background-color: #FFF;
  overflow: hidden;
  position: relative;
}

.stream__header {
  position: absolute;
  width: 100%;
  z-index: $l1;
}
  .stream__title {
    @extend .clearfix;
    background-color: #DDD;
  }
    .stream__settings {
      background-color: transparent;
      float: right;
    }
  .stream__load {
    display: block;
    margin: 16px auto 24px;
    opacity: 1;
    transition: opacity 150ms ease-in;
  }
    .stream__load--hidden {
      opacity: 0;
    }
  .stream__timestamp {
    border-bottom: 1px solid #CCC;
    color: #AAA;
    margin: 6px 16px;
    position: relative;

    span {
      background-color: #FFF;
      position: absolute;
        right: 50%; bottom: -12px;
      transform: translateX(50%);
      padding-right: 8px;
      padding-left: 8px;
    }
  }
    .stream__timestamp--morphed {
      padding-right: 120px;
      padding-left: 120px;
    }

.stream__window {
  padding-top: 124px; // Safety space
  margin-top: -389px;
  // transform: translateY(-389px);
}

// NOTIFICATIONS
//

.stream__alert {
  position: fixed;
    top: 8px; left: 50%;
  margin-left: -160px;
  width: 320px;
  z-index: $l2;

  p {
    background-color: #BDDEFF;
    margin: 0;
    text-align: center;
  }
}
