// _stream.scss
//

// z-index levels
$l1: 10;
$l2: 20;

.stream {
  background-color: #FFF;
  overflow: hidden;
  position: relative;
}

.stream__header {
  position: absolute;
  width: 100%;
  z-index: $l1;
}
  .stream__title {
    @extend .clearfix;
    background-color: #EEE;
    border-bottom: 1px solid #DCDCDC;
    height: 56px;

    p {
      float: left;
      font-size: 18px;
      line-height: 56px;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 24px;
    }
    strong {
      color: #C52028;
      margin-right: 12px;
    }
  }
    .stream__settings {
      background: transparent url('../img/settings.png') 64px center no-repeat;
      color: #444;
      float: right;
      font-size: 16px;
      line-height: 56px;
      margin-right: 24px;
      padding: 0 22px 0 0;
    }

  // LOAD CTA
  //

  .stream__load {
    background-color: rgba(255,255,255,0.7);
    color: inherit;
    display: block;
    font-weight: bold;
    padding: 26px 0 16px;
    opacity: 1;
    width: 100%;
    transition:
      opacity 150ms ease-in,
      background-color 3s ease-out;

    &:hover {
      color: #C52028;
    }
  }
    .stream__load--waiting {
      background-color: rgba(255,255,255,1);
      color: #FFF;
      cursor: default;

      &:hover {
        color: #FFF;
      }
    }
    .stream__load--hidden {
      opacity: 0;
      cursor: default;
    }

  // DAY SEPARATOR
  //

  .stream__day-sep {
    border-bottom: 1px solid #EAEAEA;
    color: #AFAFAF;
    font-size: 14px;
    margin: 6px 84px;
    position: relative;

    span {
      background-color: #FFF;
      position: absolute;
        right: 50%; bottom: -12px;
      opacity: 1;
      transform: scale(1) translateX(50%);
        transform-origin: 60px center;
      padding-right: 8px;
      padding-left: 8px;
    }
  }
    .stream__day-sep--morphed {
      animation: dayToPostKeyline 250ms ease-out 0 1 normal forwards;

      span {
        animation: dayNameToNone 150ms ease-in 0 1 normal forwards;
      }
    }

.stream__window {
  padding-top: 124px; // Safety space
  margin-top: -421px;
  transition: margin-top 450ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
  .stream__window--top {
    margin-top: 0;
    // transition: margin-top 250ms ease-out;
  }

// NOTIFICATIONS
//

.stream__alert {
  display: none; // TEMP
  position: fixed;
    top: 8px; left: 50%;
  margin-left: -160px;
  width: 320px;
  z-index: $l2;

  p {
    background-color: #BDDEFF;
    margin: 0;
    text-align: center;
  }
}

// POSTS
//

.posts {
  margin: 0 84px;
}
.post {
  @extend .clearfix;
  padding-top: 24px;
}
  .post__secondary {
    float: left;
    width: 106px;

    time {
      color: #606060;
      font-size: 16px;
    }
  }
  .post__primary {
    border-bottom: 1px solid #EAEAEA;
    float: left;
    width: 640px;
  }
    .post__title {
      color: #767676;
      margin-top: 0;
      font-size: 20px;
    }
    .post__author {
      color: #606060;
      font-size: 13px;

      span {
        color: #B3B3B1;
        display: block;
      }
    }
    .post__text {

      p {
        color: #767676;
        font-size: 14px;
      }
      img {}
    }
