// main.scss
//

@import 'animation';

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  box-sizing: inherit;
}
body {
  color: #333;
  font-size: 16px;
  line-height: 22px; // 1.4
  -webkit-font-smoothing: antialiased;
}
button {
  border: none;
  outline: none;
}

// PAGE
//

.page {
  margin: 0 auto;
  width: 1024px;
}
.flat {
  display: block;
}

@import 'stream';

// Utility
//

.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
